/* footer start */
 
.footer{

	position: relative;
	bottom: 0;
	width: 100%;
	padding: 40px 0;
	background-color: black;

} 

.footer .social{
	text-align: center;
	padding: 25px;
	color: white;
}


.footer .social a{
	font-size: 25px;
	color: white;
	 width: 40px;
	 height: 40px;
	 line-height: 40px;
	 display: inline-block;
	 margin:0 8px;

	}
	.footer .social a:hover{
		transform: scale(1.0) translateY(-10px);
		color: orangered;
		border: 1px solid orangered;
	}
	.footer ul{
          font-size: 18px;
          line-height: 1.6;
          text-align: center;
	}
	.footer ul li a{
		color: white;
		border-bottom: 1px solid transparent;
        text-decoration: none;
	}
	.footer ul li a:hover{

		border-bottom: 1px solid orangered;
	}
	.footer ul li{

		display: inline-block;
		padding: 0 20px;
	}
	.footer .copy{
		margin-top: 15px;
		color: white;
		text-align: center;
		font-size: 12px;
	}
	/* footer end */